{% extends 'base.html.twig' %}

{% block title %}Hello Julien le bg !{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Liste des événements</h1>
        <a href="{{ path('app_event_create') }}" class="btn btn-primary">Créer un nouvel événement</a>
        <ul>
            {% for event in events %}
                <li>
                    <strong>{{ event.title }}</strong> - {{ event.date|date('d/m/Y') }}<br>
                    {{ event.description }}<br>
                    <a href="{{ path('app_event_show', { id: event.id }) }}">Voir les détails</a>
                </li>
            {% else %}
                <li>Aucun événement trouvé.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
