{% extends 'base.html.twig' %}

{% block title %}Hello Julien le bg !{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Liste des événements</h1>
        <a href="{{ path('app_event_create') }}" class="btn btn-primary">Créer un nouvel événement</a>

        <form method="get">
            <label>Filtrer par catégorie :</label>
            <select name="category" onchange="this.form.submit()">
                <option value="">Toutes</option>
                {% for cat in categories %}
                    <option value="{{ cat.id }}" {% if cat.id == selectedCategory %}selected{% endif %}>{{ cat.name }}</option>
                {% endfor %}
            </select>
        </form>

        <ul>
            {% for event in events %}
                <br>
                <br>
                <li>
                    <strong>{{ event.title }}</strong> - {{ event.date|date('d/m/Y') }}<br>
                    <small>
                        {% for cat in event.categories %}
                            <span class="badge bg-secondary">{{ cat.name }}</span>
                        {% endfor %}
                    </small><br>
                    {{ event.description }}<br>
                    <a href="{{ path('app_event_show', { id: event.id }) }}">Voir les détails</a>
                </li>
            {% else %}
                <li>Aucun événement trouvé.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
